//- Container that will display messages on top of page
.message-container
  .message-content

//- Container that will display header content
.header-container
  .header-content-container
    .header-logo
    .header-center-banner
    .header-
  .header-menu-container

//- container that will display body content
.main-body-container

//- container that will display footer content
.footer-container